


# Empty CSS file for your own CSS
    table.tableSection {
        display: table;
        width: 100%;
    }
    table.tableSection thead, table.tableSection tbody {
        float: left;
        width: 100%;
    }
    table.tableSection tbody {
        overflow: auto;
        height: 150px;
    }
    table.tableSection tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.tableSection th, table.tableSection td {
        width: 33%;
    }


ul.images {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        width: 667px;
        overflow-x: auto;
        background-color: #ddd;
      }
ul.images li {
        display: inline;
        width: 150px;
        height: 150px;
      }

