
# Empty CSS file for your own CSS
    table.tableSection {
        display: table;
        width: 100%;
    }
    table.tableSection thead, table.tableSection tbody {
        float: left;
        width: 100%;
    }
    table.tableSection tbody {
        overflow: auto;
        height: 200px;
    }
    table.tableSection tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.tableSection th, table.tableSection td {
        width: 33%;
    }


ul.images {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
      }
ul.images li {
        display: inline;
      }


.focused{border: 1px solid green;}

select {border: 1px solid black;}


figcaption { 
    display: block;
    text-align:center;
}


